
body{
    
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: auto;
    padding: auto;
    background-color:white;
    
    
}
.contenedor{
   
    
    width: 100%;
    margin: 30px auto; 
    padding: 50px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.navegacion-principal{
    text-align: center;
    width: 85%;
    
    margin: 10%;
    justify-content: center;
    display: flex;
    
    padding-top: 5px;
    background-color:  transparent;
    line-height: 1.000;
    margin-bottom: 0;

}
h1{
   
    color: #000000;
    text-align: left;
    font-size: 45px;
    line-height: 1.000;
    padding-top: auto;
    width: 20%
    
    
}
h2{
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 25px;


    
    
}
.navegacion-principal a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 5px;
    font-size: 18px;
    padding: 15px;
    background-color: #dd356e;
    border-radius: 30px;
    line-height: 1.000;
 
    margin-left: 10px;
    display: inline-block;
    align-items: center;
    
    
    
}


.navegacion-principal a:hover{
    
    
    color: transparent;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}
 .navegacion-principal {
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    text-align: center;
  }
  
.navegacion-principal a {
   
    display: inline-block;
    margin-left: 10px;
   
  }

 

p{
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 15%;
    padding-top: 5%;
    font-size: large;
    justify-content: center;
    margin-bottom: 0px;
        
}
.psobremi{
    margin-bottom: 0px;
}
.flex-container{
    border: 1px solid rgba(254, 232, 86, 0.9);
    text-align: center;
    background: rgba(254, 232, 86, 0.9);
    padding: 10px;
    height: 900px;
    align-items: center;
    
    align-content: baseline;
  
    flex-flow: row-reverse;

}  
.card{
    margin: 50px;
    text-align: center;
    height: 550px;
    width: 40%;
    padding-top: 5px;
    background-color: white;
    color: #000000;
    display: inline-block;
    .btn-primary{
        background-color: #000000;
        padding-top: 10px;
    }
   
}
.card2{
    margin: 50px;
    margin-left: 0;
    padding-top: 5px;
   
    text-align: center;
    height: 550px;
    width: 40%;
    align-items: right;
  
    background-color: white;
    color: #000000;
    display: inline-block;
    .btn-primary{
        background-color: #000000;
        padding-top: 10px;
    }
   
}
.card3{
    margin:50px;
    margin-left: 0;
    padding-top: 5px;
   
    text-align: center;
    height: 550px;
    width: 40%;
    align-items: center;
  
    background-color: white;
    color: #000000;
    display: inline-block;
    .btn-primary{
        background-color: #000000;
        padding-top: 10px;
    }
   
}
.text-center{
    display: flex;
    justify-content: center;
    
}


footer{
    display: block;
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    background-color:  #000000;
    height: 700px;
    
}

h3{
    color: rgb(0, 0, 0);
    
    font-size: 30px;
    padding-top: 5%;
    margin: auto;
    text-align: center;
}


.sobremi{
    margin-top: 0;
    padding-top: 0;

    text-align: center;
    align-items: center;
    height: 650px;
   
        padding-bottom: 2px;
    

}
.sobremititulo{
   
    text-align: center;
    margin-bottom: 1px;
   
}
.tech{
    background-color: #000000;
    color: white;
    height: 700px;
}
.techtitulo{
    color: white;
    padding-bottom: 20px;
}


.logoCsharp{
    width: 120px;
    padding-right: 30px;
   
   
}
.logoNet{
    width: 80px;
    align-items: center;
}
.logoSql{
    width: 140px;
    padding-left: 2%;
    align-items: center;
}
.logohtml{
    width: 105px;
    align-items: center;
    padding-left: 15px;
}
.logoCss{
    width: 85px;
  
    align-items: center;
    padding-left: 20px;
}
.logoJavascript{
    width: 115px;
   
  
    align-items: center;
   padding-left: 2%;
    
}
.tecnología{
    background-color: white;
    height: 500px;
}
.images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    
}
.container img {
    margin: 0 0px; 
    flex: 1 0 30%;
    margin: 5px;;
}
.images-container img {
    margin: 10px; 
  }
.cursos{
    color:white;
    
    text-align: left;
    align-content: center;
    margin-left: 30%;
    padding-top: 100px;
}

.contactotitulo{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    padding-top: 10%;
}


label{
    text-align: right;
}


.card-img-top1{
    width: 70%;
    margin-top: 25px;
}
.card-img-top2{
    width: 70%;
    margin-top: 25px;
}
.card-img-top3{
    width: 90%;
    margin-top: 25px;
}

@media screen and (max-width:750px) {
    body{
        height: auto;
        flex-direction: column;
        text-align: center;
    }
    .contenedor{
        height: 250px;
        
       
        justify-content: flex-start;
        align-items: center;
   
    }
    h1{
        order: 1;
        text-align: center;
        
       
        margin: auto;
        padding-top: 15%;
        width: auto;
        
    }
    h2{
        order: 2;
        text-align: center;
        margin: auto;
 
    }
    nav{
        order: 3;
        align-self: flex-end;
        width: auto;
        margin: 0;
    }
    .navegacion-principal{
        width: auto;
    }
    .card{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        
    }
    .card2{
        display: block;
        
        width: 100%;
        margin-bottom: 1rem;
        margin-left: 10%;
    }
    .card3{
        display: block;
        
        width: 100%;
        margin-bottom: 1rem;
        margin-left: 10%;
        padding: auto;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items:center;
        height: auto;
    }  
    .text-center{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items:center;
        height: auto;
        
    }
    .sobremititulo{
        margin: auto;
    }
    .mb-3{
        width: 310px;
        margin: auto;
        padding-top: 50px;
        margin-top: 20%;
    }
    .sobremi{
        height: auto;
        padding-bottom: 10px;
    }
    .logoCsharp{
        width: 132px;
        align-items: center;
        offset-distance: auto;
    }
    .logoNet{
        width: 70px;
        align-items: center;
        offset-distance: auto;
        
    }
    .logoSql{
        width: 100px;
        offset-distance: auto;
        align-items: center;
  
    }
    .logohtml{
        width: 105px;
        align-items: center;

    }
    .logoCss{
        width: 100px;
        align-items: center;
        padding-left: 35px;  
    }
    .logoJavascript{
        width: 105px;
        align-items: center;
        padding-left: 35px;
     
    }
    .container img {
        flex: 1 0 45%; 
      }
      .tech{
        height: 800px;
        text-align: center;
        align-items: center;
      }
      .cursos{
        text-align: center;
        align-content: center;
        padding-top: 100px;
    }
}

.mb-3{
    width: 310px;
    margin: auto;
    padding-top: 50px;
    margin-top: 2%;
}

